{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
    <h1>Home page</h1>

    <h5>What are the relational databases?</h5>
    <p>Is a type of database that stores and provides access to data points that are related to one another. These databases are based on the relational model, an intuitive, straightforward wat of representing data in tables.</p>

    <h5>What are the differences between relational databases and "no sql" or "schema-less" relational databases</h5>
    <p>Relational databases store data according to specefic schemas. NoSQL systems allow daya to be stores using any structure required but provides a way for updating that data when changing that strucuture.</p>
    
    <p>But, there is a simple difference with their two terms: "SQL" and "NoSQL".</p>

    <!-- <table class="table">
        <thead>
          <tr>
            <th scope="col">Difference #</th>
            <th scope="col">Object</th>
            <th scope="col">Class</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Object is an instance of a class.</td>
            <td>Class is a bluprint or template from which objects are created.</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>An object is a physical entity.</td>
            <td>Class is a logical entity.</td> 
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Object is allocated memory when created.</td>
            <td>Class does not allocate any memory when created.</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Object is a specific entity.</td>
            <td>Class is a group of identical objects.</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>A class can have any number of instances or objects.</td>
            <td>The class can be declared only once.</td>
          </tr>
        </tbody>
      </table> -->
{% endblock content %}